1. What are data structures, and why are they important ?
   Data structure is a way of storing data structurally , so that it can be used in future, when needed. For example Stack, Queue - these are all data structure, inspired from real events.
   -Data structures organize data to enable efficient storage, retrieval, and manipulation, which is the foundation for writing fast and resource-optimized software. Choosing the right one directly impacts the performance and scalability of an application.

2.  Explain the difference between mutable and immutable data types with examples ?
- Mutable data types can be changed after creation while immutable data types can not be changed after creation.  Example - List ( Mutable) , Tupple ( Immutable)

3. What are the main differences between lists and tuples in Python ?
   Lists are mutable while Tupple is immutable.

4. Describe how dictionaries store data ?
   Dictonary stores data as key value pairs using hash table implementation. Time complexity - O(1)

5. Why might you use a set instead of a list in Python ?
   I might use set , instead of list when I need to enforce uniqueness and perform fast membership test.

6.  What is a string in Python, and how is it different from a list ?
    String in python is a sequences of characters while list is a combination of different types of data type with mutibility

7. How do tuples ensure data integrity in Python ?
   Python has some built in data types like int, float, tupple which can not be changed through out the function, even by mistakenly. For example in a tuple if I store a co-ordinate (x,y) , It wont be changed. if I try to change, it will throw an error.

8. What is a hash table, and how does it relate to dictionaries in Python ?
   A hash table is a data structure that implements an associative array by mapping keys to values using a hash function. In Python, dictionaries are the built-in implementation of a hash table, storing key-value pairs. This provides average O(1) time complexity for lookup, insertion, and deletion operations.

9.  Can lists contain different data types in Python ?
    Yes, List can contain different types of data types.

10. Explain why strings are immutable in Python ?
    Strings are immutable in Python primarily for reasons of performance, safety, and memory efficiency. Immutability allows Python to use techniques like interning (reusing objects for common strings) for optimization and makes strings safe to use as keys in dictionaries. It also ensures data integrity, as a string passed to a function cannot be accidentally altered by it.

11. What advantages do dictionaries offer over lists for certain tasks ?
    Dictionary provides time complexity of O(1) where as List offers time complexity of o(n), which comparetively slower.

12. Describe a scenario where using a tuple would be preferable over a list ?
    If I put a co-ordinate of place which is unchangable I will prefer tupple (x,y), because tupple is immutable. My data will be protected.

13. How do sets handle duplicate values in Python ?
    sets automatically remove duplicate values upon creation or when new elements are added, as each element must be unique based on its hash.

14.How does the “in” keyword work differently for lists and dictionaries ?
   For lists, in performs linear search, time complexity O(n) but in dictionaries it only checks members, time complexity O(1) which makes significantly faster.

15. Can you modify the elements of a tuple? Explain why or why not ?
    No because tupples are immutable, it will throw an error.

16. What is a nested dictionary, and give an example of its use case ?
  A nested dictionary is a dictionary that contains other dictionaries as value
  A common use case is storing complex, hierarchical data, such as user
  profiles with multiple addresses.

17.Describe the time complexity of accessing elements in a dictionary ?
Accessing an element in a dictionary by its key has an average time complexity of O(1), meaning it is a constant-time operation regardless of the dictionary's size, due to the underlying hash table implementation

18.In what situations are lists preferred over dictionaries?
   Lists are preferred when the order of elements is critical, when you need to store a simple sequence of items without associated keys, or when you need to perform operations that require a sequence e.g., slicing, stacking order-dependent data.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
  In Python versions before 3.7, dictionaries were inherently unordered. While they are now insertion-ordered (as of Python 3.7), they are still considered "unordered" in the abstract data type sense because they are primarily indexed by keys, not by position. This means you cannot reliably retrieve elements by a numerical index (like list[0]); you must use a key.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
Data in a list is retrieved by its integer index (position), which can be inefficient (O(n)) for finding a value. Data in a dictionary is retrieved by its unique key, which is highly efficient (average O(1)) due to hashing.

In [2]:
 #Write a code to create a string with your name and print it
 name = "Sayantan Banerjee"
print(name)

Sayantan Banerjee

In [3]:
#Write a code to find the length of the string "Hello World"
string = "Hello World"
print(len(string))

11

In [4]:
# Write a code to slice the first 3 characters from the string "Python
# Programming"
string = "Python Programming"
print(string[:3])

Pyt

In [5]:
# Write a code to convert the string "hello" to uppercase
string3 = "hello"
uppercase_string = string3.upper()
print(f"Uppercase: {uppercase_string}")

Uppercase: HELLO

In [7]:
# Write a code to replace the word "apple" with "orange" in the string "I like
 #apple"
string4 = "I like apple"
replaced_string = string4.replace("apple", "orange")
print(f"Replaced string: {replaced_string}")

Replaced string: I like orange

In [8]:
# Write a code to create a list with numbers 1 to 5 and print it
numbers_list = [1, 2, 3, 4, 5]
print(f"List with numbers 1-5: {numbers_list}")

List with numbers 1-5: [1, 2, 3, 4, 5]

In [9]:
#Write a code to append the number 10 to the list [1, 2, 3, 4]
my_list = [1, 2, 3, 4]
my_list.append(10)
print(f"List after appending 10: {my_list}")

List after appending 10: [1, 2, 3, 4, 10]

In [10]:
# Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
numbers_to_remove = [1, 2, 3, 4, 5]
numbers_to_remove.remove(3)
print(f"List after removing 3: {numbers_to_remove}")

List after removing 3: [1, 2, 4, 5]

In [11]:
# Write a code to access the second element in the list ['a', 'b', 'c', 'd']
char_list = ['a', 'b', 'c', 'd']
second_element = char_list[1]  # Index 1 is the second element
print(f"Second element: {second_element}")

Second element: b

In [12]:
# Write a code to reverse the list [10, 20, 30, 40, 50]
reverse_list = [10, 20, 30, 40, 50]
reverse_list.reverse()
print(f"Reversed list: {reverse_list}")

Reversed list: [50, 40, 30, 20, 10]

In [13]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it
tuple1 = (100, 200, 300)
print(f"Tuple with elements 100, 200, 300: {tuple1}")

Tuple with elements 100, 200, 300: (100, 200, 300)

In [14]:
# 12. Write a code to access the second-to-last element of the tuple
 #('red', 'green', 'blue', 'yellow')
colors = ('red', 'green', 'blue', 'yellow')
second_to_last = colors[-2]
print(f"Second-to-last element: {second_to_last}")

Second-to-last element: blue

In [15]:
#Write a code to find the minimum number in the tuple (10, 20, 5, 15)
numbers = (10, 20, 5, 15)
min_number = min(numbers)
print(f"Minimum number: {min_number}")

Minimum number: 5

In [16]:
# Write a code to find the minimum number in the tuple (10, 20, 5, 15)
numbers = (10, 20, 5, 15)
min_number = min(numbers)
print(f"Minimum number: {min_number}")

Minimum number: 5

In [17]:
# 14. Write a code to find the index of the element "cat" in the tuple
 #('dog', 'cat', 'rabbit')
animals = ('dog', 'cat', 'rabbit')
cat_index = animals.index("cat")
print(f"Index of 'cat': {cat_index}")

Index of 'cat': 1

In [18]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it
set1 = {'a', 'b', 'c'}
print(f"Set with elements 'a', 'b', 'c': {set1}")

Set with elements 'a', 'b', 'c': {'c', 'b', 'a'}

In [19]:
#  Write a code to clear all elements from the set {1, 2, 3, 4, 5}
set2 = {1, 2, 3, 4, 5}
set2.clear()
print(f"Set after clearing: {set2}")

Set after clearing: set()

In [20]:
#  Write a code to remove the element 4 from the set {1, 2, 3, 4}
set3 = {1, 2, 3, 4}
set3.remove(4)
print(f"Set after removing 4: {set3}")

Set after removing 4: {1, 2, 3}

In [21]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
set_a = {1, 2, 3}
set_b = {3, 4, 5}
union_set = set_a.union(set_b)
print(f"Union of sets: {union_set}")

Union of sets: {1, 2, 3, 4, 5}

In [22]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
set_x = {1, 2, 3}
set_y = {2, 3, 4}
intersection_set = set_x.intersection(set_y)
print(f"Intersection of sets: {intersection_set}")

Intersection of sets: {2, 3}

In [23]:
#  Create dictionary and print it
person = {"name": "John", "age": 25, "city": "New York"}
print(person)

{'name': 'John', 'age': 25, 'city': 'New York'}

In [24]:
# 22. Add new key-value pair
info = {'name': 'John', 'age': 25}
info["country"] = "USA"
print(info)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [25]:
#  Access value by key
data = {'name': 'Alice', 'age': 30}
name_value = data["name"]
print(name_value)

Alice

In [26]:
#  Remove key from dictionary
person_info = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person_info["age"]
print(person_info)

{'name': 'Bob', 'city': 'New York'}

In [27]:
# 26. Create list, tuple, and dictionary
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 1, "b": 2}

print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(4, 5, 6)
{'a': 1, 'b': 2}

In [28]:
#Create list with strings and print third element
fruits = ["apple", "banana", "cherry", "orange", "mango"]
print(fruits[3])

orange

In [29]:
# 28. Combine two dictionaries
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [30]:
# 29. Convert list of strings to set
words = ["hello", "world", "hello", "python"]
word_set = set(words)
print(word_set)

{'python', 'hello', 'world'}

In [31]:
# 30. Convert list of strings to set
my_list = ["apple", "banana", "apple", "orange"]
my_set = set(my_list)
print(my_set)

{'apple', 'banana', 'orange'}